let count = 0;
const counterElement = document.getElementById("counter");
const increaseButton = document.getElementById("increase");
const decreaseButton = document.getElementById("decrease");

increaseButton.addEventListener("click", () => {
  count++;
  counterElement.textContent = count;
});

decreaseButton.addEventListener("click", () => {
  count--;
  counterElement.textContent = count;
});