body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-image: url("background.jpg");
  min-height: 100vh;/* 画面全体の高さに対応 */
  background-size: cover;/* 画面を覆うように拡大縮小 */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;/* 背景をスクロールさせない */
}

.container {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  background: white;
  border-radius: 5px;
  overflow: hidden;
}

.profile-photo {
  flex: 1;
  background-color: #4CAF50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo img {
  width: 255px;
  height: 270px;
  border-radius: 100%;
  object-fit: cover;
  border: 3px solid white;
}

.profile-info {
  flex: 2;
  padding: 40px 30px;
}

h1 {
  margin-top: 3px;
  border-bottom: 3px solid #4CAF50;
  padding-bottom: 3px;
}

h2 {
  margin-top: 0;
  padding-bottom: 0;
  display: inline-block;/*波線*/
  border-bottom: dotted 3px #ffab9e;
}

section {
  margin-top: 15px;
}

p {
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 25px;
}

.details {
  display: grid;
  grid-template-columns: 100px 1fr;
  row-gap: 10px;
  column-gap: 15px;
  margin: 0;
  padding: 0;
}

.details dt {
  font-weight: bold;
  color: #4CAF50;
}

.details dd {
  margin: 0;
}

.hobby-list {
  list-style: disc;
  margin: 0;
  padding-left: 20px;
}
