body {
    margin: 0;
    height: 100vh;
    display: flex;
    /* align-items: center; ← 垂直方向も中央に*/
    justify-content: center; /* ← 水平方向も中央に */
    font-family: sans-serif;
    background-color: #f8f8f8;
    overflow: hidden; /* ← スクロール防止（必要に応じて） */
}

.content {
    font-size: 1em;
    padding: 20px;
    text-align: center;
    color: #333;
    margin-top: 100px;
}

.button {
    border-radius: 8px;  /* 角を8px丸める */
    padding: 6px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
}

.button:hover {
    background-color: #388E3C;
}